.main{
    background-color: #212529;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 30px;
}

.form{
    width: 250px;
}